<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Product</title>
</head>
<body>

<h2>Add Product</h2>

<form th:action="@{/seller/save-product}" th:object="${product}" method="post">

	<input type="hidden" th:field="*{id}" />
	
    Name: <input type="text" th:field="*{name}" /><br><br>

    Details: <input type="text" th:field="*{details}" /><br><br>

    Price: <input type="number" step="0.01" th:field="*{price}" /><br><br>

    Carbon Impact: <input type="number" step="0.01" th:field="*{carbonImpact}" /><br><br>

    Eco Certified: <input type="checkbox" th:field="*{ecoCertified}" /><br><br>
	
    <button type="submit">Save Product</button>

</form>

<br>
<a href="/seller/dashboard">Back to Dashboard</a>

</body>
</html>